<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        body{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <h1>login page</h1>
    <form action="/user/login" method="post">

        <label >email</label>
        <input type="text" name="email">
        <label >password</label>
        <input type="text" name="password">

        <button type="submit">login</button>

    </form>

    <a href="http://localhost:8001/">home</a>
        <a href="http://localhost:8001/signup">sighup</a>
</body>
</html>